body {
  width: 100%;
  height: 100%;
  font-family: roboto;
  background-color: #0b1e32;
}

.main-container {
  position: absolute;
  width: 300px;
  top: 10%;
  left: 40%;
  height: 550px;
  border-radius: 10px;
  background-color: rgb(25, 41, 57);

}

.main-img {

  margin: 15px 0px 15px 15px;
  width: 270px;
  height: 270px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 0px;

}

.name {
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-bottom: 19px;
}


.tag-line {
  margin-top: 0;
  margin-left: 15px;
  color: rgb(108, 106, 106);
  font-size: 15px;

}

.icon_and_name {
  display: flex;
  align-items: center;

}

.eth-icon {
  width: 30px;
  margin-left: 15px;

}

.eth {
  margin-left: 5px;
  font-weight: 500;
  color: rgb(93, 149, 233);
}

.span-time {
  display: flex;
  margin-left: 50px;

  color: rgb(108, 106, 106);
}

.clock {
  margin-right: 5px;
  width: 20px;
  border-radius: 50px;

}

.border {
  width: 260px;
  border-bottom: 0.5px solid rgb(67, 67, 67);
  justify-content: center;
  text-align: center;
  margin-left: 15px;
}

.last_div {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.profile {
  width: 40px;
  border-radius: 50px;

  margin-left: 15px;
}

.highlight-name {
  color: gray;
}

.my_name {
  margin-left: 15px;
  color: white;
}